.u-section-1 .u-sheet-1 {
  min-height: 701px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 381px;
  margin: 74px auto 0;
}

.u-section-1 .u-form-1 {
  height: 406px;
  background-image: none;
  width: 450px;
  margin: 28px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  --border-color-var: #41796f80;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  --border-color-var: #41796f80;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  --border-color-var: #41796f80;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 266px;
  margin: 28px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  margin: 1px auto 60px;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-text-1 {
    width: 358px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-text-1 {
    width: 257px;
  }

  .u-section-1 .u-form-1 {
    width: 291px;
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    width: 231px;
    margin-top: 30px;
  }
}