.u-section-1 .u-sheet-1 {
  min-height: 452px;
}

.u-section-1 .u-text-1 {
  width: 674px;
  margin: 87px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 23px 160px 0 357px;
}

.u-section-1 .u-image-1 {
  width: 176px;
  height: 175px;
  margin: -203px auto 88px 159px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 76px;
    margin-right: 52px;
    margin-left: 306px;
  }

  .u-section-1 .u-text-2 {
    width: 474px;
    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -428px;
    margin-bottom: 60px;
    margin-left: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 19px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 115px;
    height: 129px;
    margin-top: -417px;
    margin-bottom: 313px;
    margin-left: 52px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 603px;
}

.u-section-2 .u-list-1 {
  margin-top: 51px;
  margin-bottom: 51px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 501px;
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-2 .u-list-item-1 {
  --bottom-right-radius: 30px;
  --bottom-left-radius: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 21px;
}

.u-section-2 .u-image-1 {
  height: 253px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 183px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  width: 250px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-item-2 {
  --bottom-right-radius: 30px;
  --bottom-left-radius: 30px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 21px;
}

.u-section-2 .u-image-2 {
  height: 253px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 183px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  width: 250px;
  margin: 25px auto 0;
}

.u-section-2 .u-list-item-3 {
  --bottom-right-radius: 30px;
  --bottom-left-radius: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 21px;
}

.u-section-2 .u-image-3 {
  height: 253px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 0% 50%;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 183px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  width: 250px;
  margin: 25px auto 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 500px;
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
  }

  .u-section-2 .u-list-item-1 {
    --top-left-radius: 30px;
    --top-right-radius: 0px;
    --radius: 0px;
  }

  .u-section-2 .u-image-1 {
    --radius: 30px;
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
  }

  .u-section-2 .u-list-item-2 {
    --top-left-radius: 30px;
    --top-right-radius: 0px;
    --radius: 0px;
  }

  .u-section-2 .u-image-2 {
    --radius: 30px;
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
  }

  .u-section-2 .u-list-item-3 {
    --top-left-radius: 30px;
    --top-right-radius: 0px;
    --radius: 0px;
  }

  .u-section-2 .u-image-3 {
    --radius: 30px;
    --top-left-radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 475px;
    grid-auto-columns: calc(33.3333% - 13.3333px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-image-1 {
    height: 242px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-right: 38px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-2 {
    line-height: 1.2;
    width: auto;
    margin-right: 20px;
    margin-left: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-image-2 {
    height: 242px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 1.875rem;
    margin-right: 38px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-4 {
    line-height: 1.2;
    width: auto;
    margin-right: 20px;
    margin-left: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-image-3 {
    height: 242px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    font-size: 1.875rem;
    margin-right: 38px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-6 {
    line-height: 1.2;
    width: auto;
    margin-right: 20px;
    margin-left: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 476px;
  }

  .u-section-2 .u-image-1 {
    height: 254px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 254px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 14px;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    height: 254px;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 14px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 922px;
    grid-auto-columns: calc(50% - 9.999975px);
  }

  .u-section-2 .u-image-1 {
    height: 413px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-2 {
    height: 413px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-image-3 {
    height: 413px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1374px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-2 .u-image-1 {
    height: 260px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: 25px;
    margin-right: 51px;
    margin-left: 44px;
  }

  .u-section-2 .u-image-2 {
    height: 260px;
  }

  .u-section-2 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
    margin-right: 51px;
    margin-left: 44px;
  }

  .u-section-2 .u-image-3 {
    height: 260px;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-6 {
    margin-top: 25px;
    margin-right: 51px;
    margin-left: 44px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 403px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  width: 428px;
  margin: 81px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 33px 225px 0 324px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -72px auto 0 241px;
}

.u-section-3 .u-btn-1 {
  margin: 67px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 700;
    width: 434px;
    margin-top: 77px;
  }

  .u-section-3 .u-text-2 {
    width: 434px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-icon-1 {
    width: 62px;
    height: 62px;
    margin-top: 23px;
    margin-left: 336px;
    padding: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -52px;
    margin-left: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 103px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 56px;
    margin-left: auto;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 316px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 50px auto 0;
}

.u-section-4 .u-text-2 {
  line-height: 1.4;
  width: 351px;
  margin: 27px auto 59px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: 388px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 375px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 878px;
}

.u-section-5 .u-text-1 {
  width: 519px;
  font-weight: 700;
  margin: 88px auto 0;
}

.u-section-5 .u-accordion-1 {
  width: 791px;
  margin: 40px auto 60px;
}

.u-section-5 .u-accordion-link-1 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 28px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-text-3 {
  margin: 8px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 16px auto 0 0;
}

.u-section-5 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-2 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-3 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-7 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-4 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 36px;
}

.u-section-5 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-accordion-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-5 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-5 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-accordion-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-6 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-6 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-6 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-text-12 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-13 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-7 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-7 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-7 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-14 {
  margin: 0;
}

.u-section-5 .u-accordion-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-8 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-8 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-8 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

.u-section-5 .u-text-15 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-accordion-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-9 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-9 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-9 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-9 {
  padding: 30px;
}

.u-section-5 .u-text-16 {
  margin: 0;
}

.u-section-5 .u-accordion-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-10 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-10 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-10 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-10 {
  padding: 30px 30px 29px;
}

.u-section-5 .u-text-17 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-accordion-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-11 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-11 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-11 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-11 {
  padding: 30px;
}

.u-section-5 .u-text-18 {
  margin: 0;
}

.u-section-5 .u-accordion-item-12 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-12 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-12 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-12 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-12 {
  padding: 30px;
}

.u-section-5 .u-text-19 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-5 .u-accordion-link-13 {
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-5 .u-icon-13 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-5 .u-accordion-pane-13 {
  min-height: 136px;
  height: auto;
}

.u-section-5 .u-container-layout-13 {
  padding: 0 30px;
}

.u-section-5 .u-text-20 {
  margin-bottom: 0;
  margin-top: 29px;
}

.u-section-5 .u-text-21 {
  font-weight: 700;
  margin: -9px 381px 0 0;
}

.u-section-5 .u-text-22 {
  font-weight: 700;
  margin: -17px 0 0 394px;
}

.u-section-5 .u-text-23 {
  margin: -9px 360px 0 0;
}

.u-section-5 .u-text-24 {
  margin: -188px 25px 0 394px;
}

.u-section-5 .u-text-25 {
  font-weight: 700;
  margin: 77px 360px 0 0;
}

.u-section-5 .u-text-26 {
  font-weight: 700;
  margin: -18px 34px 0 394px;
}

.u-section-5 .u-text-27 {
  margin: 1px 346px 0 0;
}

.u-section-5 .u-text-28 {
  margin: -247px 34px 0 385px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-accordion-link-1 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-1 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-2 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-2 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-3 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-3 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-4 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-4 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-5 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-5 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-6 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-6 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-7 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-7 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-8 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-8 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-9 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-9 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-10 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-10 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-11 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-11 {
    min-height: 144px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-bottom: 40px;
  }

  .u-section-5 .u-accordion-link-12 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-12 {
    min-height: 144px;
  }

  .u-section-5 .u-accordion-link-13 {
    padding: 10px 20px;
  }

  .u-section-5 .u-accordion-pane-13 {
    min-height: 144px;
  }

  .u-section-5 .u-text-27 {
    width: auto;
    margin-top: -3px;
  }

  .u-section-5 .u-text-28 {
    margin-top: -243px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-accordion-1 {
    width: 640px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-21 {
    margin-right: 270px;
  }

  .u-section-5 .u-text-22 {
    margin-left: 283px;
  }

  .u-section-5 .u-text-23 {
    margin-right: 249px;
  }

  .u-section-5 .u-text-24 {
    margin-right: 0;
    margin-left: 308px;
  }

  .u-section-5 .u-text-25 {
    margin-right: 249px;
  }

  .u-section-5 .u-text-26 {
    margin-right: 0;
    margin-left: 317px;
  }

  .u-section-5 .u-text-27 {
    margin-right: 235px;
  }

  .u-section-5 .u-text-28 {
    margin-right: 0;
    margin-left: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 375px;
  }

  .u-section-5 .u-accordion-1 {
    width: 375px;
  }

  .u-section-5 .u-text-21 {
    margin-right: 5px;
  }

  .u-section-5 .u-text-22 {
    margin-left: 18px;
  }

  .u-section-5 .u-text-23 {
    margin-right: 0;
  }

  .u-section-5 .u-text-24 {
    margin-left: 43px;
  }

  .u-section-5 .u-text-25 {
    margin-right: 0;
  }

  .u-section-5 .u-text-26 {
    margin-left: 52px;
  }

  .u-section-5 .u-text-27 {
    margin-right: 0;
  }

  .u-section-5 .u-text-28 {
    margin-left: 43px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 716px;
}

.u-section-6 .u-list-1 {
  width: 471px;
  margin: 17px auto 60px;
}

.u-section-6 .u-repeater-1 {
  min-height: 559px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  --gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 29px 28px;
}

.u-section-6 .u-image-1 {
  height: 315px;
  width: 413px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  margin: 24px 1px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 29px 28px;
}

.u-section-6 .u-image-2 {
  height: 315px;
  width: 413px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 24px 1px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 29px 28px;
}

.u-section-6 .u-image-3 {
  height: 315px;
  width: 413px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 24px 1px 0 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 29px 28px;
}

.u-section-6 .u-image-4 {
  height: 315px;
  width: 413px;
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  margin: 24px 1px 0 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 29px 28px;
}

.u-section-6 .u-image-5 {
  height: 315px;
  width: 413px;
  margin: 0 auto;
}

.u-section-6 .u-text-5 {
  margin: 24px 1px 0 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  top: 172px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  top: 172px;
  right: 10px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-6 .u-list-1 {
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 579px;
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 23px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-6 .u-list-1 {
    min-height: 610px;
    margin-top: 79px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 556px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-6 .u-image-3 {
    object-position: 50% 0%;
  }

  .u-section-6 .u-text-3 {
    margin-top: 28px;
  }

  .u-section-6 .u-image-4 {
    object-position: 50% 0%;
  }

  .u-section-6 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-6 .u-image-5 {
    object-position: 50% 0%;
  }

  .u-section-6 .u-text-5 {
    margin-top: 28px;
  }

  .u-section-6 .u-gallery-nav-1 {
    left: 0;
    top: 179px;
    padding: 8px;
  }

  .u-section-6 .u-gallery-nav-2 {
    top: 179px;
    right: 8px;
    padding: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    min-height: 609px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: -2px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: -2px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: -2px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: -2px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: -2px;
  }

  .u-section-6 .u-gallery-nav-1 {
    left: 9px;
    top: 170px;
  }

  .u-section-6 .u-gallery-nav-2 {
    top: 170px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 346px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 346px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 346px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 346px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    height: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 375px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-1 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-2 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 29px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-3 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-4 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-image-5 {
    height: 272px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-5 {
    margin-top: 29px;
    margin-left: 1px;
    margin-right: 1px;
  }
}