 .u-section-1 {
  min-height: 538px;
  background-image: linear-gradient(to bottom, rgba(41, 61, 125, 0.2), rgba(41, 61, 125, 0.2)), url('images/Teton_Glaciers_View_COMPOSITE_V2.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 712px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-style: normal;
  margin: 30px auto 0;
}

.u-section-1 .u-image-1 {
  width: 254px;
  height: 203px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: none;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 18px 10px 16px;
}

.u-section-1 .u-icon-1 {
  font-size: 1rem;
}

.u-section-1 .u-btn-2 {
  text-transform: none;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 12px;
}

.u-section-1 .u-icon-2 {
  font-size: 1rem;
}

.u-section-1 .u-btn-3 {
  text-transform: none;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 18px 10px 17px;
}

.u-section-1 .u-icon-3 {
  font-size: 1rem;
}

.u-section-1 .u-btn-4 {
  text-transform: none;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 10px 44px 10px 42px;
}

.u-section-1 .u-icon-4 {
  font-size: 1rem;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 350px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 246px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 284px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    width: auto;
    font-style: italic;
    margin-top: 362px;
    margin-right: 90px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -285px;
    margin-left: 79px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -209px;
    margin-left: 348px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-left: 348px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    margin-left: 348px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 15px;
    margin-bottom: 66px;
    margin-left: 348px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%, 46.76% 48.95%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto 115%;
    min-height: 94px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1.1;
    margin-top: 44px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 83px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 16px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 459px;
}

.u-section-2 .u-image-1 {
  width: 176px;
  height: 175px;
  margin: 129px auto 0 191px;
}

.u-section-2 .u-text-1 {
  margin: -168px 124px 60px 399px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -175px;
    margin-right: 125px;
    margin-left: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin: 0 31px 0 268px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 615px;
  background-position: 50% 100%;
  background-image: url("images/Wasatch_Mountains_Backcountry_Winter_Map.webp");
  background-size: cover;
}

.u-section-3 .u-image-2 {
  min-height: 615px;
  background-image: url("images/A028570B-44F3-4037-8A31-A7332A7AB5EE20230621-DSC05319.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-image-3 {
  min-height: 307px;
  background-position: 50% 50%;
  background-image: url("images/DSC04435.jpg");
  background-size: cover;
}

.u-section-3 .u-image-4 {
  min-height: 307px;
  background-position: 50% 50%;
  background-image: url("images/Colorado_Trail_v3copy21.webp");
  background-size: cover;
}

.u-section-3 .u-image-5 {
  min-height: 307px;
  background-position: 0% 0%;
  background-image: url("images/Mount_Moran_3D_View1.webp");
  background-size: auto 130%;
}

.u-section-3 .u-text-1 {
  width: 766px;
  margin: 59px auto 58px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-3 .u-image-1 {
    min-height: 614px;
  }

  .u-section-3 .u-image-2 {
    min-height: 614px;
    transition-duration: 0.5s;
    background-size: cover;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-3 .u-image-3 {
    min-height: 317px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-3 {
    min-height: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 668px;
  }

  .u-section-3 .u-image-2 {
    min-height: 668px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 263px;
    order: 2;
  }

  .u-section-3 .u-image-4 {
    min-height: 263px;
    order: 0;
  }

  .u-section-3 .u-image-5 {
    min-height: 263px;
    background-position: 86.33% 92.48%;
    background-size: 165%;
    order: 1;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3153px;
  }

  .u-section-3 .u-image-1 {
    min-height: 696px;
  }

  .u-section-3 .u-image-2 {
    min-height: 1392px;
  }

  .u-section-3 .u-image-3 {
    min-height: 1401px;
  }

  .u-section-3 .u-image-4 {
    min-height: 1401px;
  }

  .u-section-3 .u-image-5 {
    min-height: 1401px;
  }

  .u-section-3 .u-text-1 {
    width: 640px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1922px;
  }

  .u-section-3 .u-text-1 {
    width: 375px;
  }
}

.u-section-3 .u-image-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-image-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-image-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

:hover:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout > .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .hover > .u-container-layout .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 1553px;
}

.u-section-4 .u-image-1 {
  height: auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: auto;
  font-size: 1.125rem;
  margin: 20px auto 56px;
}

.u-section-4 .u-image-2 {
  width: 323px;
  height: 258px;
  margin: 20px auto 60px;
}

.u-section-4 .u-image-3 {
  width: 327px;
  height: 351px;
  margin: 21px auto 60px;
}

.u-section-4 .u-image-4 {
  width: 327px;
  height: 656px;
  margin: 24px auto 60px;
}

.u-section-4 .u-image-5 {
  width: 327px;
  height: 327px;
  margin: -1054px -30px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-4 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-3 {
    height: 435px;
    margin-top: 367px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-4 {
    margin-bottom: 0;
  }

  .u-section-4 .u-image-5 {
    margin-top: -1457px;
    margin-right: auto;
    margin-bottom: 1154px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1055px;
}

.u-section-5 .u-image-1 {
  height: auto;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  width: auto;
  margin: 20px auto 0;
}

.u-section-5 .u-image-2 {
  width: 323px;
  height: 258px;
  margin: 20px auto 60px;
}

.u-section-5 .u-image-3 {
  width: 329px;
  height: 332px;
  margin: 20px auto 60px;
}

.u-section-5 .u-image-4 {
  width: 328px;
  height: 227px;
  margin: 24px auto 0;
}

.u-section-5 .u-image-5 {
  width: 328px;
  height: 253px;
  margin: 24px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-3 {
    width: 328px;
    height: 373px;
    margin-top: 31px;
    margin-bottom: 0;
  }
} .u-section-6 {
  background-image: url("images/Teton_Glaciers_View_COMPOSITE_V2.webp");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 773px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 350px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 444px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 518px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 294px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 448px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 85px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 773px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 539px;
}

.u-section-7 .u-text-1 {
  width: 766px;
  margin: 52px auto;
}

@media (max-width: 1399px) {
  .u-section-7 .u-sheet-1 {
    min-height: 709px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    width: 640px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 814px;
}

.u-section-8 .u-custom-html-1 {
  height: auto;
  min-height: 606px;
  width: 800px;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-8 .u-custom-html-1 {
    width: 767px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-custom-html-1 {
    width: 575px;
  }
}