 .u-section-1 {
  background-image: url("images/DSC02675.jpeg");
  background-position: 50% 0%;
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-text-1 {
  margin: 315px auto 94px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 681px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 120px;
    margin-left: 7px;
    margin-right: 7px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1359px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 417px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px 20px 31px;
}

.u-section-2 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px 20px 31px;
}

.u-section-2 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px 20px 31px;
}

.u-section-2 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 29px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(1, 100%);
  min-height: 417px;
  --gap: 0px;
  grid-auto-columns: 100%;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 29px;
}

.u-section-2 .u-image-4 {
  width: 932px;
  height: 594px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 40px auto 0 2px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0 2px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-2 .u-image-1 {
    height: 169px;
  }

  .u-section-2 .u-image-2 {
    height: 169px;
  }

  .u-section-2 .u-image-3 {
    height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
    min-height: 1251px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 200px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 347px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 347px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-4 {
    width: 620px;
    height: 395px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 214px;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
  }

  .u-section-2 .u-image-4 {
    width: 355px;
    height: 226px;
  }
}