.u-section-1 .u-sheet-1 {
  min-height: 1221px;
}

.u-section-1 .u-btn-1 {
  padding-left: 20px;
  padding-right: 20px;
  margin: 114px auto 0 245px;
}

.u-section-1 .u-btn-2 {
  padding-left: 20px;
  padding-right: 20px;
  margin: 17px auto 0 187px;
}

.u-section-1 .u-btn-3 {
  margin: -42px auto 0 44px;
  padding: 9px 20px 11px;
}

.u-section-1 .u-btn-4 {
  padding-left: 20px;
  padding-right: 20px;
  margin: -102px auto 0 41px;
}

.u-section-1 .u-btn-5 {
  padding-left: 20px;
  padding-right: 20px;
  margin: -42px auto 60px 120px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-left: 244px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 186px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 43px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 40px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 159px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 44px;
    margin-left: 378px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 320px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 177px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -101px;
    margin-left: 173px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 137px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-left: 245px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 187px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 44px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -102px;
    margin-left: 41px;
  }

  .u-section-1 .u-btn-5 {
    margin-bottom: 59px;
    margin-left: 120px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 53px;
}

.u-section-2 .u-btn-1 {
  padding-left: 20px;
  padding-right: 20px;
  margin: 11px auto 0 402px;
}

.u-section-2 .u-btn-2 {
  padding-left: 20px;
  padding-right: 20px;
  margin: -43px auto 0 651px;
}

.u-section-2 .u-btn-3 {
  margin: -42px auto 0 508px;
  padding: 9px 20px 11px;
}

.u-section-2 .u-btn-4 {
  padding-left: 20px;
  padding-right: 20px;
  margin: -42px auto 0 198px;
}

.u-section-2 .u-btn-5 {
  padding-left: 20px;
  padding-right: 20px;
  margin: -42px auto 0 277px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-btn-1 {
    margin-left: 401px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 650px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 507px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 197px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-left: 50px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 299px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 156px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 34px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1750px;
}

.u-section-3 .u-text-1 {
  width: 477px;
  margin: 66px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 1565px;
  width: 794px;
  margin: 67px 83px 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 20px;
  grid-template-columns: repeat(2, auto);
}

.u-section-3 .u-gallery-item-1 {
  --effect-scale: 1;
}

.u-section-3 .u-over-slide-1 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-2 {
  --effect-scale: 1;
}

.u-section-3 .u-over-slide-2 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-3 {
  --effect-scale: 1;
}

.u-section-3 .u-over-slide-3 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-4 {
  --effect-scale: 1;
}

.u-section-3 .u-over-slide-4 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  --effect-scale: 1;
}

.u-section-3 .u-over-slide-5 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-6 {
  --effect-scale: 1;
}

.u-section-3 .u-over-slide-6 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-7 {
  --effect-scale: 1;
}

.u-section-3 .u-over-slide-7 {
  padding: 20px;
}

.u-section-3 .u-gallery-item-8 {
  --effect-scale: 1;
}

.u-section-3 .u-over-slide-8 {
  padding: 20px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1751px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 6446px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-3 .u-gallery-1 {
    height: 6260px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 5232px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-3 .u-gallery-1 {
    width: 640px;
    margin-right: 0;
    height: 5046px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3091px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    margin-top: 51px;
    margin-right: auto;
    height: 2957px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1399px;
}

.u-section-4 .u-text-1 {
  width: 477px;
  margin: 67px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 1213px;
  width: 794px;
  margin: 67px 83px 0 auto;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 20px;
  grid-template-columns: repeat(2, auto);
}

.u-section-4 .u-gallery-item-1 {
  --effect-scale: 1;
}

.u-section-4 .u-over-slide-1 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  --effect-scale: 1;
}

.u-section-4 .u-over-slide-2 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  --effect-scale: 1;
}

.u-section-4 .u-over-slide-3 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  --effect-scale: 1;
}

.u-section-4 .u-over-slide-4 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  --effect-scale: 1;
}

.u-section-4 .u-over-slide-5 {
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  --effect-scale: 1;
}

.u-section-4 .u-over-slide-6 {
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 5037px;
  }

  .u-section-4 .u-gallery-1 {
    height: 4851px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4096px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-gallery-1 {
    width: 640px;
    margin-right: 0;
    height: 3910px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2426px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    height: 2291px;
    margin-top: 51px;
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 2257px;
}

.u-section-5 .u-text-1 {
  width: 477px;
  margin: 60px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 1984px;
  width: 794px;
  margin: 67px 83px 60px auto;
}

.u-section-5 .u-gallery-inner-1 {
  --gap: 20px;
  grid-template-columns: repeat(2, auto);
}

.u-section-5 .u-gallery-item-1 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-1 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-2 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-3 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-4 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-5 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-6 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-6 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-7 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-7 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-8 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-8 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-9 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-9 {
  padding: 20px;
}

.u-section-5 .u-gallery-item-10 {
  --effect-scale: 1;
}

.u-section-5 .u-over-slide-10 {
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 8209px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-5 .u-gallery-1 {
    height: 7937px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 6670px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-gallery-1 {
    height: 6398px;
    width: 640px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3883px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-gallery-1 {
    height: 3749px;
    width: 340px;
    margin-top: 51px;
    margin-right: auto;
    margin-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 2185px;
}

.u-section-6 .u-text-1 {
  width: 477px;
  margin: 60px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 2004px;
  width: 794px;
  margin: 69px 83px 0 auto;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 20px;
  grid-template-columns: repeat(2, auto);
}

.u-section-6 .u-gallery-item-1 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-1 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-2 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-3 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-4 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-5 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-6 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-7 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-7 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-8 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-8 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-9 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-9 {
  padding: 20px;
}

.u-section-6 .u-gallery-item-10 {
  --effect-scale: 1;
}

.u-section-6 .u-over-slide-10 {
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 9891px;
  }

  .u-section-6 .u-gallery-1 {
    height: 8015px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 8008px;
  }

  .u-section-6 .u-gallery-1 {
    width: 640px;
    margin-right: 0;
    height: 6460px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3997px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    width: 340px;
    height: 3785px;
    margin-top: 51px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1074px;
}

.u-section-7 .u-text-1 {
  width: 477px;
  margin: 51px auto 0;
}

.u-section-7 .u-custom-html-1 {
  height: auto;
  min-height: 382px;
  margin: 51px 303px 0 309px;
}

.u-section-7 .u-custom-html-2 {
  height: auto;
  min-height: 382px;
  width: 370px;
  margin: 21px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1249px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 92px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 375px;
    margin-right: 302px;
  }

  .u-section-7 .u-custom-html-2 {
    width: 381px;
    margin-top: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-left: 134px;
    margin-right: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-7 .u-text-1 {
    width: 375px;
    margin-top: 60px;
  }

  .u-section-7 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-custom-html-2 {
    margin-top: 20px;
    margin-bottom: 49px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}