 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(65, 121, 111, 0.5), rgba(41, 61, 125, 0.5)), url('../images/DSC09036.jpg');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 506px;
}

.u-section-1 .u-text-1 {
  width: 460px;
  margin: 115px auto 0;
}

.u-section-1 .u-text-2 {
  width: 460px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 20px;
  background-image: none;
  margin: 35px auto 60px;
  padding: 10px 20px 10px 19px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-1 .u-text-1 {
    width: 375px;
  }

  .u-section-1 .u-text-2 {
    width: 375px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 405px;
}

.u-section-2 .u-text-1 {
  width: 633px;
  margin: 60px auto 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-size: 0.875rem;
  background-image: none;
  margin: 30px auto 0 242px;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-size: 0.875rem;
  background-image: none;
  margin: -40px auto 0 393px;
}

.u-section-2 .u-btn-3 {
  --radius: 50px;
  font-size: 0.875rem;
  background-image: none;
  margin: -40px auto 60px 597px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 74px;
    margin-left: 66px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -39px;
    margin-left: 217px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 421px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-2 .u-text-1 {
    width: 375px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 38px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -90px;
    margin-left: auto;
  }
} .u-section-3 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(41, 61, 125, 0.5), rgba(184, 122, 0, 0.5)), url('../images/DSC03594.jpeg');
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 396px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 20px;
  width: 623px;
  margin: 121px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 10px;
  width: 372px;
  margin: 12px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 256px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1276px;
}

.u-section-4 .u-text-1 {
  width: 488px;
  margin: 54px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 31px 176px 0 183px;
}

.u-section-4 .u-btn-1 {
  --radius: 20px;
  background-image: none;
  margin: 30px auto 0;
  padding: 10px 20px 10px 19px;
}

.u-section-4 .u-image-1 {
  width: 891px;
  height: 483px;
  margin: 81px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-text-2 {
    margin-left: 182px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1140px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 1px;
    margin-left: 7px;
  }

  .u-section-4 .u-image-1 {
    width: 640px;
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1127px;
  }

  .u-section-4 .u-text-1 {
    width: 375px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 31px;
    margin-left: -28px;
    margin-right: -28px;
  }

  .u-section-4 .u-image-1 {
    width: 375px;
    height: 203px;
    margin: 50px 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 589px;
}

.u-section-5 .u-image-1 {
  width: 394px;
  height: 429px;
  margin: 80px auto 0 90px;
}

.u-section-5 .u-image-2 {
  width: 394px;
  height: 429px;
  margin: -429px auto 60px 508px;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-5 .u-image-1 {
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: 26px;
    margin-left: auto;
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-5 .u-image-1 {
    width: 375px;
    height: 408px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    width: 375px;
    height: 408px;
    margin-right: 0;
  }
} .u-section-6 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(41, 61, 125, 0.5), rgba(65, 121, 111, 0.5)), url('../images/DSC03781.jpeg');
  background-size: cover, cover;
}

.u-section-6 .u-sheet-1 {
  min-height: 396px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 20px;
  width: 623px;
  margin: 110px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 10px;
  width: 697px;
  margin: 12px auto 60px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 50vh;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1980px;
}

.u-section-7 .u-text-1 {
  width: 678px;
  margin: 54px auto 0;
}

.u-section-7 .u-text-2 {
  width: 633px;
  margin: 25px auto 0;
}

.u-section-7 .u-image-1 {
  width: 890px;
  height: 580px;
  margin: 50px auto 0;
}

.u-section-7 .u-image-2 {
  width: 890px;
  height: 576px;
  margin: 25px auto 60px;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1655px;
  }

  .u-section-7 .u-text-1 {
    width: 640px;
  }

  .u-section-7 .u-image-1 {
    width: 640px;
    height: 417px;
  }

  .u-section-7 .u-image-2 {
    width: 640px;
    height: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1675px;
  }

  .u-section-7 .u-text-1 {
    width: 375px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 375px;
    height: 244px;
  }

  .u-section-7 .u-image-2 {
    width: 375px;
    height: 243px;
  }
} .u-section-8 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(184, 122, 0, 0.5), rgba(131, 55, 14, 0.5)), url('../images/IMG_25791.jpeg');
  background-size: cover, cover;
}

.u-section-8 .u-sheet-1 {
  min-height: 396px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 20px;
  width: 623px;
  margin: 110px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 10px;
  width: 596px;
  margin: 12px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 150px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 375px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
    width: 375px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1545px;
}

.u-section-9 .u-text-1 {
  width: 474px;
  margin: 54px auto 0;
}

.u-section-9 .u-text-2 {
  width: 633px;
  margin: 25px auto 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-image-1 {
  width: 890px;
  height: 586px;
  margin: 55px auto 0;
}

.u-section-9 .u-image-2 {
  width: 871px;
  height: 380px;
  margin: 25px auto 60px;
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1280px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-9 .u-image-1 {
    width: 640px;
    height: 422px;
  }

  .u-section-9 .u-image-2 {
    width: 640px;
    height: 279px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-9 .u-text-1 {
    width: 375px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 375px;
  }

  .u-section-9 .u-image-1 {
    width: 375px;
    height: 247px;
  }

  .u-section-9 .u-image-2 {
    width: 375px;
    height: 163px;
  }
} .u-section-10 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(131, 55, 14, 0.1)), url('../images/DSC027332.jpeg');
  background-size: cover, cover;
}

.u-section-10 .u-sheet-1 {
  min-height: 940px;
}

.u-section-10 .u-text-1 {
  width: 319px;
  margin: 149px auto 0;
}

.u-section-10 .u-text-2 {
  width: 257px;
  margin: 105px auto 0;
}

.u-section-10 .u-btn-1 {
  --radius: 20px;
  background-image: none;
  margin: 32px auto 0;
  padding: 10px 20px 10px 19px;
}

.u-section-10 .u-btn-2 {
  --radius: 20px;
  background-image: none;
  margin: 22px auto 60px;
  padding: 10px 20px 10px 19px;
}

@media (max-width: 1399px) {
  .u-section-10 .u-sheet-1 {
    min-height: 939px;
  }

  .u-section-10 .u-text-2 {
    width: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 827px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 84px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 78px;
    margin-left: 37px;
    margin-right: 37px;
  }
}