 .u-section-1 {
  background-image: linear-gradient(#cd6a38, #41796f);
}

.u-section-1 .u-sheet-1 {
  min-height: 2582px;
}

.u-section-1 .u-text-1 {
  margin: 231px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 8px auto 0;
}

.u-section-1 .u-text-3 {
  width: 541px;
  margin: 57px auto 0;
}

.u-section-1 .u-image-1 {
  width: 812px;
  height: 455px;
  margin: 57px auto 0 74px;
}

.u-section-1 .u-text-4 {
  width: 511px;
  margin: 57px auto 0;
}

.u-section-1 .u-video-1 {
  width: 683px;
  height: 442px;
  margin: 105px 140px 0 168px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-5 {
  width: 327px;
  margin: 105px auto 0;
}

.u-section-1 .u-image-2 {
  width: 781px;
  height: 586px;
  margin: 105px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 293px;
    margin-top: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2546px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 54px;
  }

  .u-section-1 .u-image-1 {
    width: 767px;
    height: 430px;
    margin-top: 36px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    margin-top: 42px;
    margin-right: 28px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 127px;
  }

  .u-section-1 .u-image-2 {
    width: 767px;
    height: 575px;
    margin-top: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2224px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 575px;
    height: 322px;
    margin-top: 133px;
  }

  .u-section-1 .u-video-1 {
    width: 575px;
    height: 372px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 197px;
  }

  .u-section-1 .u-image-2 {
    width: 575px;
    height: 431px;
    margin-top: 20px;
  }
}